/********************/
/* Style guide */
/********************/

/*

### Layout:

- Mobile: 375px
- Desktop: 1440px

### Primary:

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral:

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)


### Typography system:

FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

### Whitespace
SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


### Font-Style:

font-family: 'Outfit', sans-serif;

### Font size default setup: 
-Default: 1 rem = 16px
-Reset: 1 rem = 10px
10px/16px = 62.5%

- !Font size (paragraph): 18px 

### Font-weights:

Light: 300
Default: 400
semiBold: 600

### Line-heights:
- xx for headings
- 1.6 for paragraphs

### Border-radius
Default: xpx

*/

/********************/
/* General setting */
/********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  line-height: 1;
}

/*******************************/
/* General Reusable Components */
/*******************************/

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.main-img,
.content,
.details,
.avatar-box,
h1 {
  margin-bottom: 2.4rem;
}

/*******************************/
/*  Card Components */
/*******************************/

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  color: hsl(215, 51%, 70%);
  max-width: 38rem;
  margin: 15% auto;
  padding: 2rem;
}

.main-img {
  position: relative;
  width: 100%;
  text-align: center;
}

.main-img img {
  display: block;
  border-radius: 20px;
  width: 100%;
}

.equilibrium-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.481);
  border-radius: 20px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.25s;
}

.equilibrium-overlay img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 15rem;
  left: 15rem;
}

.equilibrium-overlay:hover {
  opacity: 1;
}

/* .equilibrium-overlay--blur {
  backdrop-filter: blur(5px);
} */

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 2.4rem;
}

p {
  font-weight: 300;
  line-height: 1.6;
}

.details {
  display: flex;
  justify-content: space-between;
}

.img-eth,
.img-clock {
  margin-right: 0.8rem;
  position: relative;
  top: 0.35rem;
}

.eth p {
  color: hsl(178, 100%, 50%);
}

/*******************************/
/* Avatar section */
/*******************************/

.avatar-box {
  display: flex;
  align-items: center;
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 2rem;
}

.avatar-box img {
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
}

.avatar-p {
  margin-left: 1.6rem;
}

span {
  color: hsl(0, 0%, 100%);
}

/*******************************/
/* Footer */
/*******************************/

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*******************************/
/* Styling links */
/*******************************/

a:link,
a:visited {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

a:hover,
a:active {
  color: hsl(178, 100%, 50%);
}

/*******************************/
/* Media Queries */
/*******************************/
@media screen and (max-width: 320px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2rem;
  }
}
